# exclude everything
dataset/*
examples/*
Data/*
fishSpeciesClassification.model
lb.pickle
.idea/*
.DS_Store
pyimagesearch/__pycache__/*

# exception to the rule
#!dataset/.gitkeep
#!examples/.gitkeep