# exclude everything
dataset/*
Data/Source_Images/*
Data/Model_Weights/*
fishSpeciesClassification.model
lb.pickle
.idea/*
.DS_Store
pyimagesearch/__pycache__/*
*.pyc
*/__pycache__/*
# exception to the rule
#!dataset/.gitkeep
#!examples/.gitkeep